<h2>List of files</h2>

<div>
  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="/<%= file %>"><%= file %></a>
        <button><a href="/<%= file %>/edit">edit</a></button>
      </li>
    <% end %>
  </ul>
</div>




