<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @filename %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/cms.css" type="text/css">
  </head>
  
  <body>
    <% if session[:message] %>
      <div>
        <p class="display_message"><%= session.delete(:message) %></p>
      </div>
    <% end %>
    <% if session[:signed_out_message] %>
      <div>
        <p class="display_message"><%= session.delete(:signed_out) %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>